<!DOCTYPE html>
<html lang="en">
	{% include 'includes/header.html.twig' %}


	<body>
		<!-- Responsive navbar-->
		{% include 'includes/menu.html.twig' %}


		<!-- Page Content-->
		<div
			class="container px-4 px-lg-5">
			<!-- Heading Row-->
			<div class="row gx-4 gx-lg-5 align-items-center my-5">

				<div class="col-12">
					<h1 class="font-weight-light">
						{{ "Souhaitez vous vraiment modifier votre Article" }}
					</h1>
					<p>This is a template that is great for small businesses. It doesn't have too much fancy flare to it, but it makes a great use of the standard Bootstrap core components. Feel free to use this template for any project you want!</p>

				</div>
			</div>


			<!-- Content Row-->
			<!-- Formulaire-->
			<form
				method="POST" id="articleForm" action='FormUpdateArticles.php' enctype="multipart/form-data">


				<!-- ID-->
				<div hidden class="mb-3">
					<label for="texte" class="form-label">ID</label>
					<input type="text" name="id" class="form-control" id="texte" aria-describedby="emailHelp" value={{ articles.getId }}>
					<div id="emailHelp" class="form-text"></div>
				</div>

				<!-- Titre-->
				<div class="mb-3">
					<label for="texte" class="form-label">Titre</label>
					<input type="text" name="titre" class="form-control" id="texte" aria-describedby="emailHelp" value={{ articles.getTitre }} required>
					<div id="emailHelp" class="form-text"></div>
				</div>

				<!-- Texte-->
				<div class="input-group">
					<span class="input-group-text">Article texte</span>
					<textarea class="form-control" name="texte" aria-label="With textarea" required>{{ articles.getTexte }}</textarea>
				</div>


				<br><br>

				<!-- image-->
				<div class="input-group mb-3">
					<input type="file" name="image" class="form-control" id="image">
					<label class="input-group-text" for="inputGroupFile02">Choisir Une Image</label>

				</div>

				<!-- publie-->
				<div class="mb-3 form-check">
					<input type="checkbox" name="publie" class="form-check-input" id="publie" checked required>

					<label class="form-check-label" for="exampleCheck1">Publie</label>
				</div>


				<button type="submit" class="btn btn-primary" name="update">modifier mon articles</button>

			</form>


			<br>

		</div>


		<!-- Footer-->
		{% include 'includes/footer.html.twig' %}
	</body>
</html>

